

body{
    margin: 0;
}
.ui {
    display: flex;
    align-content: center;
    padding-top: 20px;
    justify-content: space-between;
}

.search {
    display: flex;
    align-content: center;
    padding-top: 20px;
}

#logo {
    display: block;
    width: 92px;
    height: 33px;
    padding-right: 30px;
}

#searchbar {
    width: 500px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #e2e2e2;
    display: block;
    box-shadow:  0 0 5px 1px rgb(184, 184, 184);
    padding: 0px 25px 0px 25px;
}

#searchbar:focus {
    outline: none;

}

.searchbar-w-icons {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.icons {
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 30px;
    pointer-events: none;
}

#search-icon {
    padding-right: 5px;
}

#mic-icon{
    border-left: solid 1px  rgb(212, 212, 212);
}

.right-ui {
  display: flex;
  align-items: center;
  padding: 10px;
}



.nav-icons {
    height: 24px;
    width: 24px;
    padding: 0 10px 0px 0px;
    opacity: 50%;
}

.nav-icons:hover {
    opacity: 80%;
} 

#sign-in {
    background-color: rgb(0, 162, 255);
    color: white;
    margin-left: 10px;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 20px;
}

#sign-in:hover {
    box-shadow:  0 0 1px 1px rgb(0, 162, 255); 
    cursor: pointer;
}

.search-options {
    display: flex;
    align-content: center;
    padding-left: 122px;
    padding-top: 20px;
}

.search-options a{
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    text-decoration: none;
    margin-bottom: 10px;
}

#all {
    box-sizing: border-box;
    color: rgb(0, 162, 255);
}


#tools{ 
    margin-left: 200px;
}

.top {
    border-bottom: solid 1px rgb(212, 212, 212);
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 117, 122);
    font-size: 12px;
    padding-left: 122px;
    margin: 0;
}

#amount{
    padding-top: 5px;
    padding-bottom: 20px;
}
.search-results {
    width:600px;
    padding-top:20px;
    margin-top: 102px;
}

.result-link{
    text-decoration: none;
}

.url{ 
    padding-bottom: 10px;
    color: rgb(32, 33, 36);
}

span{
    color: rgb(95, 99, 104);
}
.link {
    color: rgb(26, 13, 171);
    font-size: 20px;
    text-decoration: none;
    padding-bottom:0;
    width: 600px;
}

.result-link .link:hover {
    text-decoration: underline;
}

.description {
    font-size: 14px;
    line-height: 22px;
    width: 600px;
    color: rgb(77, 81, 86)    ;
}

.result {
    padding-bottom: 20px;
}

.related-searches {
    margin-left: 122px;
    width: 652px;
    border-bottom: 1px solid gray;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.related-header{
    border-bottom: 1px solid gray;
}

.related-links {
    display: flex;
    align-content: center;
}

.fig:hover {
    text-decoration: underline;
}

figure {
    margin-left: 0;
    margin-right: 8px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 5px;
}

.fig {
    text-decoration: none;
    color: black;
}

.related-image {
    height: 100px;
    width: 100px;
}

#go-daddy{
    padding-top: 37px;
}

#weebly{
    padding-top: 32.5px;
}

#jimdo {
    padding-top: 31.5px;
}

#strikingly {
    border-radius: 10%;
}

#see-more{
    margin: 0 auto;
    text-align: center;
    width: 276px;
    height: 20px;
    padding: 10px 12px;
    border: 1px lightgrey solid;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}

#see-more:hover{ 
    background: rgb(231, 231, 231);
}

#see-more-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.related-pills{
    width: 652px;
    margin-top: 20px;
    margin-left: 122px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
}

.pill{
    margin: 4px 8px;
    text-align: left;
    width: 284px;
    height: 48px;
    padding: 0px 17px;
    background: lightgrey;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pill img{
    height: 24px;
    margin-right: 20px;
}

.pill a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    max-width: 198px;
}

.pill a:hover {
text-decoration: underline;
}


